@use "../app/app.scss";

.itemBox {
    display: grid;
    position: relative;
    background-color: app.$dark-background-color;
    border: 1px solid app.$light-background-color;
    border-radius: 20px 5px 5px 5px;
    min-width: max-content;
    font-family: app.$basic-font-family;

    .itemPrice {
        margin: 0;
        padding: 10px 40px;
        position: absolute;
        margin-right: auto;
        margin-bottom: auto;
        background-color: app.$light-background-color;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
        font-weight: 600;
        text-shadow: 1px 1px 1px #FFD100;
    }

    .itemPhoto {
        object-fit: cover;
        padding: 60px;
        width: 200px;
        height: 250px;
        border-radius: 5px;
        background: app.$dark-background-color;
        margin-left: auto;
        margin-right: auto;
    }

    .itemName {
        margin: 0;
        padding: 10px;
        text-align: center;
        background-color: app.$light-background-color;
    }

    a {
        display: grid;
        position: absolute;
        justify-self: center;
        align-self: center;
        text-decoration: none;
        color: inherit;
    }

    .moreDetailsButton {
        
        padding: 15px 30px;
        font-size: 20px;
        border-radius: 5px;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        color: app.$basic-font-color;
    }

    &:hover .moreDetailsButton {
        opacity: 1;
        cursor: pointer;
    }
}
