@use "../app/app.scss";

.navbar {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    align-items: center;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;

    a {
        text-decoration: none !important;
        color: inherit;
    }

    .navbar__element {
        list-style: none;
        padding: 10px 10px 5px 10px;
        font-family: app.$basic-font-family;
        color: app.$basic-font-color;
        position: relative;
        cursor: pointer;

        &:after {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            bottom: -3px;
            width: 0;
            height: 2px;
            background-color: app.$light-background-color;
            transition: width 0.5s;
        }

        &:hover:after {
            content: "";
            width: 100%;
            display: block;
            position: absolute;
            left: 0;
            bottom: -3px;
            height: 2px;
            background-color: app.$light-background-color;
            transition: width 0.5s;
        }

        &.active:after {
            content: "";
            width: 100%;
            display: block;
            position: absolute;
            left: 0;
            bottom: -3px;
            height: 2px;
            background-color: app.$light-background-color;
            transition: width 0.5s;
        }
    }
}
