@use "../app/app.scss";

.navbar {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    align-items: center;
    width: max-content;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;

    a {
        text-decoration: none !important;
        color: inherit;
    }

    .navbar__element {
        list-style: none;
        padding: 10px 10px 5px 10px;
        font-family: app.$basic-font-family;
        color: app.$basic-font-color;
        position: relative;
        cursor: pointer;

        &:after {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            bottom: -3px;
            width: 0;
            height: 2px;
            background-color: app.$light-background-color;
            transition: width 0.5s;
        }

        &:hover:after {
            content: "";
            width: 100%;
            display: block;
            position: absolute;
            left: 0;
            bottom: -3px;
            height: 2px;
            background-color: app.$light-background-color;
            transition: width 0.5s;
        }

        &.active:after {
            content: "";
            width: 100%;
            display: block;
            position: absolute;
            left: 0;
            bottom: -3px;
            height: 2px;
            background-color: app.$light-background-color;
            transition: width 0.5s;
        }

        &.cartPage {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;

            li {
                height: max-content;
            }
        }
    }

    @keyframes loading-gradient {
        0% {
          background-position: 0% 0%;
        }
        50% {
          background-position: 100% 100%;
        }
        100% {
          background-position: 0% 0%;
        }
    }

    .navbar__loading_element {
        list-style: none;
        background: linear-gradient(-45deg, black, app.$light-background-color);
        background-size: 400% 400%;
        animation: loading-gradient 3s infinite linear;
        border-radius: 5px;
        height: 30px;
        width: 110px; 
    }

    .cartIcon {
        width: 20px;
        height: 20px;
        padding: 0;
    }
}

.categoryLoadingText {
    font-family: app.$basic-font-family;
    color: app.$basic-font-color;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1015px) {
    .navbar {
        flex-wrap: wrap !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}
